[Unit]
Description=CI Shortcut Server
After=network.target

[Service]
User=shortcuts
Group=shortcuts
Type=Simple
ExecStart=/usr/local/bin/shortcuts /var/cache/shortcuts/sqlite.db :5729

[Install]
WantedBy=multi-user.target
